/* ===========================================
   BUTTON VELIKOST
=========================================== */
._1u16jol1 {
    display: flex;
    height: 98px;
    min-width: 98px;
    background-color: var(--_1bof89n5);
    position: relative;
    transition: all .15s ease-in-out;
    box-shadow: 0 1px #161a1e05, 0 0 0 1px #161a1e0a, 0 1px 5px -4px #161a1e14, 0 4px 8px -6px #161a1e14, 0 1px 3px 1px #161a1e03;
    animation: o231sh1 .08s ease-out;
    width: 48px;
    padding: 8px;
}

/* ===========================================
   OBRÁZEK V BUTTONU VELIKOST
=========================================== */


._1u16jolu {
    transition: opacity .15s ease, width .15s ease;
    height: 105px;
    width: 105px;
    min-width: 32px;
    pointer-events: none;
}
